server:
  port: ${port}  #服务端口,这里需要配置环境变量
  
spring:
  application:
    name: eureka_server #指定服务名

eureka:
  client: #客户端信息
    register-with-eureka: true #是否将自己注册到eureka服务中，默认为true，多个eureka，需要设置为true
    fetch-registry: true #是否从eureka服务中拉取其它服务的信息，默认是true,多个eureka，需要设置为true
    service-url: #Eureka客户端与Eureka服务端交互地址
       #defaultZone: http://127.0.0.1:10086/eureka
       #defaultZone:  http://127.0.0.1:${server.port}/eureka  #只是单eureka:即上面配置的server.port
       defaultZone:  ${eureka.server} #用来配置eureka集群：表示将自己注册到另外一个注册中心的地址上,这里需要配置环境变量
  
  instance: # 实例信息
    prefer-ip-address: true #当你获取host时，返回的是ip,而不是主机名
    ip-address: 127.0.0.1   # 指定自己的ip信息，不指定的话会自己寻找
    instance-id: ${spring.application.name}:${server.port} #指定实例Id
    lease-expiration-duration-in-seconds: 10 # 如果超过10秒没有发送心跳，EurekaServer就会认为该服务宕机，会从服务列表中移除,服务失效时间，默认值90秒
    lease-renewal-interval-in-seconds: 5 # 每5秒一次，向注册中心发送心跳，服务续约(renew)的间隔，默认为30秒
  server:
    enable-self-preservation: false #禁用自我保护模式，默认开启
    eviction-interval-timer-in-ms: 5000 #每隔5秒驱逐一次失效服务（单位毫秒，默认是60*1000）


logging:
  level:
    root: info
# org.springframework.web:DEBUG
  file: /log/log/eureka.log
